/*login*/
html, body{width:100%; height: 100%; background-color: #34383d;}
#loginDiv{z-index: 10000;background-color: #34383d;}
.loginContent{background-color: #1c1e21; border-radius: 5px; border:solid 1px #1c1e21;}
.gp-input{padding: 2px 5px;width:300px;height:30px;color:#a9a9a9;background-color: #34383d; border:solid 1px #34383d; border-radius: 5px;}
.gp-btn{color:#a9a9a9; background-color: #34383d; border:solid 1px #34383d; border-radius: 5px;height: 25px; line-height: 23px;width: 50px;}
.gp-btn:hover{background-color: #1c1e21;border-color: #34383d;}

/*main*/
.toolBar{color:#ccc;line-height:50px;background-color: #707070; border-bottom: solid 1px #a9a9a9; z-index: 10;}
.navRoom:before, .navDesk:before{padding: 0 5px;color: #ccc;content: "/\00a0";}
.content{top:50px;}
.hallContent, .roomContent{background-color: #34383d;}
.roomItem, .deskItem{color:#ccc;}
.roomIcon, .deskIcon{border-radius: 10px; border:solid 1px #a9a9a9;}
.deskIcon{background: url("../images/desk.png") center center no-repeat #5E84AE;}
.roomIcon:hover, .deskIcon:hover{border-color:#bead67;}
.seat{width:32px;height:32px;}
.seat-n{top: 0px; left: 33px;}
.seat-e{right: 0px; top: 33px;}
.seat-s{bottom: 0px; left: 33px;}
.seat-w{top: 33px; left: 0px;}
.seat-on{background: url("../images/user.png") center center no-repeat;}

/*playground*/
.playground{color:#ccc;}
.playground-toolbar{}
.playground-content{background2: url("../images/bg.png") 0px 0px repeat-x;background-color:#ccc;}
.exit-icon{width: 50px; height:30px;line-height: 30px;}
.pg-content-left{width:25%;}
.pg-content-center{width:50%;}
.pg-content-right{width:25%;}

.desk-right{}
.desk-left{}
.desk-top{height:25%;line-height: 12.5;}
.desk-center{height:50%;line-height: 25;}
.desk-bottom{height:25%;line-height: 12.5;}

.desk-right .deskInfo, .desk-left .deskInfo{background-color2:#ff0; width:50%; height:50%; margin-top: 55%;}
.desk-right .userInfo, .desk-left .userInfo{background-color2:#f00;width:100%;height:50%;}
.desk-right .winCards, .desk-left .winCards{background-color2:#0f0;width:100%;height:50%;}
.desk-right .leftCards, .desk-left .leftCards{background-color2:#00f;width:50%; height:50%;margin-top:55%;}

.desk-top .deskInfo, .desk-bottom .deskInfo{background-color2:#ff0;width:100%; height:50%; margin-top: 10;}
.desk-top .userInfo, .desk-bottom .userInfo{background-color2:#f00;width:40%;height:100%;margin-left:10%;}
.desk-top .winCards, .desk-bottom .winCards{background-color2:#0f0;width:40%;height:100%;}
.desk-top .leftCards, .desk-bottom .leftCards{background-color2:#00f;width:100%; height:50%;}

.desk-bottom .playBtns{width:210px; height: 30px;}
.desk-bottom .playBtns .gp-btn{margin: 0 10px;}
.desk-card{background-color:#000; width:50px;height:100px;line-height: 100px;border:solid 1px #34383d; border-radius: 5px;}
.desk-card:hover{border-color:#4A86BA;}
.desk-card-ready{margin-top:-20px;}