.toolBar{color:#ccc;line-height:50px;background-color: #707070; border-bottom: solid 1px #a9a9a9; z-index: 10;}
.navRoom:before, .navDesk:before{padding: 0 5px;color: #ccc;content: "/\00a0";}
.content{top:50px;}
.hallContent, .roomContent{background-color: #3c3f41;}
.roomItem, .deskItem{color:#ccc;}
.roomIcon, .deskIcon{border-radius: 10px; border:solid 1px #a9a9a9;}
.roomIcon:hover, .deskIcon:hover{border-color:#bead67;}
.seat{width:32px;height:32px;}
.seat-n{top: 0px; left: 33px;}
.seat-e{right: 0px; top: 33px;}
.seat-s{bottom: 0px; left: 33px;}
.seat-w{top: 33px; left: 0px;}

.playground{color:#ccc;}
.exit-icon{width: 50px; height:30px;line-height: 30px;}
